@font-face {
  font-family: "MATROSKA";
  src: url("fonts/MATROSKA.ttf.woff") format("woff"),
    url("fonts/MATROSKA.ttf.svg#MATROSKA") format("svg"), url("fonts/MATROSKA.ttf.eot"),
    url("fonts/MATROSKA.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UltimateTeam-Icons";
  src: url("fonts/UltimateTeam-Icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UltimateTeamCondensed";
  src: url("fonts/UltimateTeamCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
